.date-pointer {
  cursor: text;
}

:root {
  --focus-color: #ffffff; /* Example color */
  --border-color: #ffffff; /* Example color */
  --hover-border-color: #ac0b0b; /* Example color */
  --input-background: #ffffff; /* Example color */
  --text-color: #4a6365; /* Example color */
  --selected-background: #eeeeee; /* Example color */
  --focus-background: #f0f0f0; /* Example color */
}
